<dx-scroll-view class="view-wrapper-scroll">
  <div class="view-wrapper">
    <toolbar-analytics
      titleText="Dashboard"
      [panelItems]="analyticsPanelItems"
      [selectedItems]="[5]"
      (selectionChanged)="selectionChange($event)"
    >
    </toolbar-analytics>

    <div class="cards grey">
      <ticker-card
        titleText="Opportunities"
        [data]="opportunities"
        [percentage]="20.3"
        contentClass="opportunities-total"
      ></ticker-card>
      <ticker-card
        titleText="Revenue Total"
        [data]="sales"
        [percentage]="14.7"
        contentClass="revenue-total"
      ></ticker-card>
      <ticker-card
        titleText="Conversion"
        total="16%"
        [percentage]="-2.3"
        contentClass="conversion"
      ></ticker-card>
      <ticker-card
        titleText="Leads"
        total="51"
        [percentage]="8.5"
        contentClass="leads"
      ></ticker-card>
    </div>

    <div class="cards">
      <revenue-card [data]="sales"></revenue-card>
      <conversion-card [data]="opportunities"></conversion-card>
      <revenue-analysis-card [data]="salesByState"></revenue-analysis-card>
      <revenue-snapshot-card [data]="salesByCategory"></revenue-snapshot-card>
    </div>
  </div>
</dx-scroll-view>
<dx-load-panel
  container=".view-wrapper"
  [position]="{ of: '.content' }"
  [visible]="isLoading"
  [showPane]="true"
></dx-load-panel>
