@use "../../../variables.scss" as *;

:host {
  --left-panel-width: 400px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .view-wrapper-scroll {
    background-color: var(--card-background);
    width: 100%;
    margin-top: calc(var(--content-padding) / 2);
    max-height: calc(100% - var(--toolbar-height));
  }
}

.dx-toolbar ::ng-deep {
  margin-bottom: calc(var(--toolbar-margin-bottom) / 2);

  .dx-toolbar-label > div {
    @include header();
  }
}

.view-wrapper {
  padding: var(--content-padding) var(--content-padding) 0 var(--content-padding);
  background-color: var(--card-background);
}

.corner-button {
  position: fixed;
  bottom: 8px;
  right: 20px;
  padding-top: 8px;
  text-align: center;
  width: 30%;
  border-top: 1px solid;
  display: flex;
  justify-content: space-around;
}
