<dx-scroll-view class="view-wrapper-scroll">
  <div class="view-wrapper">
    <dx-toolbar class="toolbar-details">
      <dxi-item location="before">
        <dx-button icon="arrowleft" stylingMode="text"></dx-button>
      </dxi-item>
      <dxi-item location="before" [text]="'add' | translate"></dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        widget="dxButton"
        showText="inMenu"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          onClick: refresh,
          stylingMode: 'text'
        }"
      ></dxi-item>
    </dx-toolbar>

    <div class="panel">
      <div class="form-container">
        <dx-form
          [formData]="formData"
          [disabled]="isLoading"
        >
          <dxi-item dataField="name" isRequired="true" [editorOptions]="{stylingMode: 'outlined'}"></dxi-item>
          <dxi-item itemType="group" >
            <dxi-item itemType="tabbed">
                <dxo-tab-panel-options [height]="260">
                </dxo-tab-panel-options>
                <dxi-tab title="Contacts">

                </dxi-tab>
                <dxi-tab title="Note">
                  <dxi-item dataField="skype"
                  cssClass="global-search-box"
                  [options]="{stylingMode: 'underlined'}" [editorOptions]="{stylingMode: 'outlined'}"></dxi-item>
                  <dxi-item dataField="phone" [editorOptions]="
                    assign | apply: { stylingMode: 'outlined' }
                  "></dxi-item>
                  <dxi-item dataField="email" [editorOptions]="{stylingMode: 'outlined'}"></dxi-item>
                </dxi-tab>
            </dxi-item>
          </dxi-item>
        </dx-form>
      </div>
    </div>

    <div class="corner-button">
      <dx-button
          [text]="'dxDataGrid-editingSaveRowChanges' | translate"
          icon="save"
          type="success"
          stylingMode="contained"
          style="padding: 8px 12px"
          (onClick)="onSaveClick()"
        ></dx-button>
        <dx-button
          [text]="'Close' | translate"
          icon="close"
          type="normal"
          stylingMode="contained"
          style="padding: 8px 12px"
        ></dx-button>
    </div>
  </div>
</dx-scroll-view>
